body {
    background-color: #efefef;
}

.main {
    margin: 30px;
}

.row {
    background-color: white;
}


.list-image{
    width: 40px;
    height: 40px;
}

.btn_publish {
    float: right;
    margin-bottom: 15px;
}

.btn_publish2 {
    float: right;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}